.slider {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.slide {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.slide.active {
    opacity: 1;
}

.slide-img{
    width: 80%;
    height: 500px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.btn-slide{
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
}
.btn-slide:hover{
    transition: .3s ease-in-out;
    background-color: #e5e5e5;
}
.btn-slide:active{
    transition: .3s ease-in-out;
    background-color: #a9e13a;
}
.btn-prev{
    position: absolute;
    top: 50%;
    margin-left: 50px;
}
.btn-next{
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 50px;
}